$white: #fff;
$isabelline: #EEEDED;
$spanish-gray: #989797;

$coral: #FA824C;
$buff: #F1DD7B;

$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;

$flame: #E4572E;

$blue-de-france: #3C91E6;

$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;